.wer{
    margin-top: 80px;
}
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
  }
  
  .signin-glass {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .signin-glass h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  
  .form-control:focus {
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #326f34;
  }
  
  .new-user,
  .admin-login {
    text-align: center;
    margin-top: 20px;
  }
  