<!-- add-product.component.html -->
<header class="header">
    <h1 class="title">Add Product</h1>
    <nav>
      <a routerLink="/admin" class="link">Admin</a>
    </nav>
  </header>
<div class="form-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="productname">Product Name</label>
        <input type="text" formControlName="productname" id="productname">
      </div>
      <div>
        <label for="productprice">Product Price</label>
        <input type="number" formControlName="productprice" id="productprice" min="0">
      </div>
      <div>
        <label>Category</label>
        <select formControlName="category">
          <option value="" disabled selected>Select a category</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
      <div>
        <label for="imageUrl">Image URL</label>
        <select formControlName="imageUrl" id="imageUrl">
          <option value="" disabled selected>Select an option</option>
          <option value="../../assets/images/milk.jpeg">Milk</option>
          <option value="../../assets/images/butter.jpeg">Butter</option>
          <option value="../../assets/images/yougurt.jpeg">yogurt</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      <div>
        <label for="altText">Alt Text</label>
        <input type="text" formControlName="altText" id="altText">
      </div>
      <button type="submit">Add Product</button>
    </form>
  </div>
  