/* add-product.component.css */

/* Style the form container */
/* add-product.component.css */

/* Style the header */
.header {
    background-color: #4CAF50; /* Green color */
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the title */
  .title {
    margin: 0;
  }
  
  /* Style the navigation links */
  .link {
    color: white;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  

.form-container {
    width: 300px;
    margin: auto;
  }
  
  /* Style form inputs */
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style form labels */
  .form-container label {
    margin-top: 10px;
  }
  
  /* Style the submit button */
  .form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Change button color on hover */
  .form-container button:hover {
    background-color: #45a049;
  }
  